html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #0f0f23;
}

textarea {
  background-color: #0f0f23;
  color: #009900;
  font-size: 16px;
  height: 19px;
  border: none;
}
textarea:active {
  border: 1px;
}

.code {
  margin: 8px;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: relative;
}

.line {
  display: inline-block;
  width: 100%;
}

.darken {
  opacity: 0.5;
}

.unsolved {
  opacity: 0.2;
}

.animated {
  color: #00cc00;
  text-shadow: 0 0 4px #00cc00;
}

.development::after {
  content: ' \1f528';
}

.click:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

.option {
  margin-right: 8px;
}

.active {
  color: #ffff66;
}

.white {
  color: #ffffff;
}

.brown {
  color: #8b7355;
}

.green {
  color: #009900;
}

.yellow {
  color: #ffff66;
  text-shadow: 0 0 16px #ffffff;
}

.red {
  color: #ff0000;
  text-shadow: 0 0 16px #ffffff;
}

.blue {
  color: #0000ff;
  text-shadow: 0 0 16px #ffffff;
}

.orange {
  color: #ffa500;
  text-shadow: 0 0 16px #ffffff;
}

.first-only {
  color: #666699;
  text-shadow: 0 0 16px #ffffff;
}

.hidden {
  display: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.seperator {
  border-top: 1px #00cc00 dotted;
  border-bottom: 1px #00cc00 dotted;
  margin: 8px 0;
  padding: 8px 0;
}
